<section class="introduction">
	<div class='header_picture'></div>
	<img src="http://placehold.it/400x200" alt="logo screenet">
</section>

<section class="introduction_text">
	<div class="inner_container">
		<h1>Cancer screening saves lives, but if not done properly, it can actually do more harm than good.</h1>
		<p>The guidelines are constantly changing and it can be hard to keep track of the most up to date recommendations- even for health professionals.</p>
		<p>Hopefully Screenet can simplify the process a bit for you. Just plug in as much information as you can and we’ll tell you what screening tests you need, how often and where to go to get them.</p>
	</div>
</section>

<section class="key_points">
	<div class="inner_container">
		<ul>
			<li>
				<div class="image_container">
					<img src="../../assets/images/ICON_1.svg" alt="ICON_1">
				</div>
				<p>Cancer screening saves lives, but if not done properly, it can actually do more harm than good.</p>
			</li>
			<li>
				<div class="image_container">
					<img src="../../assets/images/ICON_2.svg" alt="ICON_2">
				</div>
				<p>The guidelines are constantly changing and it can be hard to keep track of the most up to date recommendations- even for health professionals.</p>
			</li>
			<li>
				<div class="image_container">
					<img src="../../assets/images/ICON_3.svg" alt="ICON_3">
				</div>
				<p>Hopefully Screenet can simplify the process a bit for you. Just plug in as much information as you can and we’ll tell you what screening tests you need, how often and where to go to get them.</p>
			</li>
		</ul>
	</div>
</section>

<section class="take_the_test">
	<div class="inner_container">
		<a routerLink="/questionnaire" >Take the test</a>
	</div>
</section>

<footer>
	<p>Copyright - 2017 - screenet</p>
</footer>


