<section class="introduction">
	<div class='header_picture'></div>
	<img src="../../../assets/images/LOGO_Screenet.jpg" alt="logo screenet">
</section>

<section class="introduction_text">
	<div class="inner_container">
		<h1>When done properly, cancer screening saves lives.</h1>
		<p>But cancer screening can be complex. Recommendations are constantly changing and it can be hard to keep track of the tests we need and how often we need them.</p>
		<p>Screenet lets you know exactly what cancer screening tests you need, how often you should get them, and where to go to arrange them!</p>
		<p>Take the test- it’s simple and easy.</p>
		<p><small>(The following questionnaire is intended for asymptomatic people over the age of 18. If you are experiencing any symptoms out of the ordinary, we urge you to consult your GP immediately).</small></p>
	</div>
</section>

<!-- <section class="key_points">
	<div class="inner_container">
		<ul>
			<li>
				<div class="image_container">
					<img src="../../assets/images/ICON_1.svg" alt="ICON_1">
				</div>
				<p>Cancer screening saves lives, but if not done properly, it can actually do more harm than good.</p>
			</li>
			<li>
				<div class="image_container">
					<img src="../../assets/images/ICON_2.svg" alt="ICON_2">
				</div>
				<p>The guidelines are constantly changing and it can be hard to keep track of the most up to date recommendations- even for health professionals.</p>
			</li>
			<li>
				<div class="image_container">
					<img src="../../assets/images/ICON_3.svg" alt="ICON_3">
				</div>
				<p>Hopefully Screenet can simplify the process a bit for you. Just plug in as much information as you can and we’ll tell you what screening tests you need, how often and where to go to get them.</p>
			</li>
		</ul>
	</div>
</section> -->

<section class="take_the_test">
	<div class="inner_container">
		<a routerLink="/questionnaire" >Take the test</a>
	</div>
</section>

<footer>
	<p>Copyright - 2017 - Screenet</p>
</footer>


