<section class="introduction">
	<div class='header_picture'></div>
	<img src="http://placehold.it/400x200" alt="logo screenet">
</section>

<section class="introduction_text">
	<div class="inner_container">
		<h1>Lorem ipsum dolor sit amet.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nesciunt quia sed explicabo alias, laboriosam et quam fugiat consectetur harum eos, commodi, quibusdam assumenda molestiae repudiandae minima doloribus tempore distinctio.</p>
	</div>
</section>

<section class="key_points">
	<div class="inner_container">
		<ul>
			<li>
				<div class="image_container">
					<img src="../../assets/images/ICON_1.svg" alt="ICON_1">
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore odit voluptate, cupiditate iure eaque vitae, facere libero ab veniam ut distinctio itaque modi. Omnis modi, quos quibusdam, ut perferendis doloribus!.</p>
			</li>
			<li>
				<div class="image_container">
					<img src="../../assets/images/ICON_2.svg" alt="ICON_2">
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore odit voluptate, cupiditate iure eaque vitae, facere libero ab veniam ut distinctio itaque modi. Omnis modi, quos quibusdam, ut perferendis doloribus!.</p>
			</li>
			<li>
				<div class="image_container">
					<img src="../../assets/images/ICON_3.svg" alt="ICON_3">
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore odit voluptate, cupiditate iure eaque vitae, facere libero ab veniam ut distinctio itaque modi. Omnis modi, quos quibusdam, ut perferendis doloribus!.</p>
			</li>
		</ul>
	</div>
</section>

<section class="take_the_test">
	<div class="inner_container">
		<a routerLink="/questionnaire" >Take the test</a>
	</div>
</section>

<footer>
	<p>Copyright - 2017 - screenet</p>
</footer>


