<section class="introduction">
	<div class='header_picture'></div>
	<img src="../../../assets/images/LOGO_Screenet.jpg" alt="logo screenet">
</section>

<section class="questionnaire" >	
	<div class="inner_container">
		<h1>{{questions[question_id].title}}</h1>
		<p>{{questions[question_id].subtitle}}</p>
		<ul>
			<li *ngFor="let answer of questions[question_id].answers" (click)="save_answer( question_id, answer.value )">
				<a [ngClass]="{'active': (questions[question_id].result.indexOf(answer.value) > -1 ) }">{{answer.label}}</a>
			</li>
		</ul>
		<div class="button_container">
			<a class="back" *ngIf="id >= 1" (click)="back()">Back</a>
			<a class="next" [ngClass]="{'active': questions[question_id].result}" (click)="next()">Next</a>
		</div>
	</div>
</section>

<footer>
	<p>Copyright - 2017 - Screenet</p>
</footer>
