<section class="introduction">
	<div class='header_picture'></div>
	<img src="http://placehold.it/400x200" alt="logo screenet">
</section>

<section class="questionnaire">	
	<div class="inner_container">
		<h1>Lorem ipsum dolor sit amet.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nesciunt quia sed explicabo alias, laboriosam et quam fugiat consectetur harum eos, commodi, quibusdam assumenda molestiae repudiandae minima doloribus tempore distinctio.. </p>
		<ul>
			<li><a class="active">younger than 40</a></li>
			<li><a>40-50</a></li>
			<li><a>50-60</a></li>
			<li><a>60-70</a></li>
			<li><a>older than 70</a></li>
		</ul>
		<div class="button_container">
			<a class="back">back</a>
			<a class="next">next</a>
		</div>
	</div>
</section>

<footer>
	<p>Copyright - 2017 - screenet</p>
</footer>
