<section class="introduction">
	<div class='header_picture'></div>
	<img src="http://placehold.it/400x200" alt="logo screenet">
</section>

<section class="questionnaire">
	<div class="inner_container">
		<h1>Lorem ipsum dolor sit amet.</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nesciunt quia sed explicabo alias, laboriosam et quam fugiat consectetur harum eos, commodi, quibusdam assumenda molestiae repudiandae minima doloribus tempore distinctio.</p>
		<ul>
			<li><a (click)="alert('hello')" >Answer N°1</a></li>
			<li><a (click)="alert('hello')" >Answer N°1</a></li>
			<li><a class="active" (click)="alert('hello')" >Answer N°1</a></li>
			<li><a (click)="alert('hello')" >Answer N°1</a></li>
			<li><a (click)="alert('hello')" >A very very very very very very very long answer</a></li>
		</ul>
		<div class="button_container">
			<a class="back">Back</a>
			<a class="next">Next</a>
		</div>
	</div>
</section>

<footer>
	<p>Copyright - 2017 - screenet</p>
</footer>
