/*
    PHONE VERSION
*/
section.introduction{
	div.header_picture{
		width: 100%;
		height: 400px;
		background-image: url('../../../assets/Images/BG_Intro.jpg');
		background-size: cover;
		background-position: center center;
	}
	img{
		width: 90%;
		max-width: 400px;
		margin: -75px auto 0 auto;
		display: block;
	}
}

section.introduction_text{
	padding: 100px 0 50px;

	div.inner_container{
		width: 90%;
		max-width: 1000px;
		margin: 0 auto;

		h1{
			font-family:'JosefinSlab';
			font-weight: 800;
			width: 90%;
			margin: 0 auto 20px auto;
			font-size: 30px;
			color: #4f4f4f;

			span.blue{
				color: #30c0d8;
			}
		}
		p{
			font-family:'JosefinSans';
			font-weight: 400;
			width: 90%;
			margin: 0 auto;
			font-size: 20px;
			color: #8e8e8e;
		}
	}
}

section.map_container{
	div.title_container{
		width: 90%;
		max-width: 1000px;
		margin: 50px auto;

		h1{
			font-family:'JosefinSlab';
			font-weight: 800;
			width: 90%;
			margin: 0 auto 20px auto;
			font-size: 30px;
			color: #30c0d8;
		}
	}
	.map{
		width: 100%;
		height: 60vh;
		background-color: #f2f2f2;
	}
}

footer{
	position: relative;
	width: 100%;
	margin: 0;
	background-color: #30c0d8;
	padding: 20px 0;

	p{
		color: white;
		width: 100%;
		text-align: center;
		font-family: 'JosefinSans';
		z-index: 2;
		position: relative;
	}
	&:before{
		content: '';
		display: block;
		background-color: #30c0d8;
		width: 100%;
		height: 70px;
		position: absolute;
		top: -20px;
		transform: skewY(-3deg);
		z-index: 1;
	}
}

/*
    TABLET VERSION
*/
@media screen and (min-width: 768px ){}


/*
    SMALL SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 992px ){
	section.introduction{
		div.header_picture{
			height: 300px;
		}
		img{}
	}
	
	footer{
		p{}
		&:before{
			top: -30px;
		}
	}
}

/*
    LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1200px ){
	footer{
		p{}
		&:before{
			transform: skewY(-2deg);
		}
	}
}

/*
    SUPER LARGE SCREEN COMPUTER VERSION
*/
@media screen and (min-width: 1600px ){}