html, body{
	margin: 0;
}

@font-face { 
    font-family: 'JosefinSans'; 
    src: url('/assets/fonts/Josephin_sans/Regular/josefinsans_regular.eot'); 
    src: url('/assets/fonts/Josephin_sans/Regular/josefinsans_regular?#iefix') format('embedded-opentype'), 
         url('/assets/fonts/Josephin_sans/Regular/josefinsans_regular.woff') format('woff'), 
         url('/assets/fonts/Josephin_sans/Regular/josefinsans_regular.ttf') format('truetype'), 
         url('/assets/fonts/Josephin_sans/Regular/josefinsans_regular.svg#JosefinSans') format('svg');
    font-weight: 400;
    font-style: normal;
}
@font-face { 
    font-family: 'JosefinSlab'; 
    src: url('/assets/fonts/Josephin_slab/Semi_bold/josefinslab_semi_bold.eot'); 
    src: url('/assets/fonts/Josephin_slab/Semi_bold/josefinslab_semi_bold?#iefix') format('embedded-opentype'), 
         url('/assets/fonts/Josephin_slab/Semi_bold/josefinslab_semi_bold.woff') format('woff'), 
         url('/assets/fonts/Josephin_slab/Semi_bold/josefinslab_semi_bold.ttf') format('truetype'), 
         url('/assets/fonts/Josephin_slab/Semi_bold/josefinslab_semi_bold.svg#JosefinSans') format('svg');
    font-weight: 800;
    font-style: normal;
}
@font-face { 
    font-family: 'JosefinSlab'; 
    src: url('/assets/fonts/Josephin_slab/Bold/josefinslab_bold.eot'); 
    src: url('/assets/fonts/Josephin_slab/Bold/josefinslab_bold?#iefix') format('embedded-opentype'), 
         url('/assets/fonts/Josephin_slab/Bold/josefinslab_bold.woff') format('woff'), 
         url('/assets/fonts/Josephin_slab/Bold/josefinslab_bold.ttf') format('truetype'), 
         url('/assets/fonts/Josephin_slab/Bold/josefinslab_bold.svg#JosefinSans') format('svg');
    font-weight: 600;
    font-style: normal;
}