<section class="introduction">
	<div class='header_picture'></div>
	<img src="http://placehold.it/400x200" alt="logo screenet">
</section>

<section class="introduction_text">
	<h1>Lorem ipsum dolor sit amet.</h1>
	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nesciunt quia sed explicabo alias, laboriosam et quam fugiat consectetur harum eos, commodi, quibusdam assumenda molestiae repudiandae minima doloribus tempore distinctio.. </p>
</section>

<section class="key_points">
	<ul>
		<li>
			<img src="../../assets/images/ICON_1.svg" alt="ICON_1">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore odit voluptate, cupiditate iure eaque vitae, facere libero ab veniam ut distinctio itaque modi. Omnis modi, quos quibusdam, ut perferendis doloribus!.</p>
		</li>
		<li>
			<img src="../../assets/images/ICON_2.svg" alt="ICON_2">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore odit voluptate, cupiditate iure eaque vitae, facere libero ab veniam ut distinctio itaque modi. Omnis modi, quos quibusdam, ut perferendis doloribus!.</p>
		</li>
		<li>
			<img src="../../assets/images/ICON_3.svg" alt="ICON_3">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore odit voluptate, cupiditate iure eaque vitae, facere libero ab veniam ut distinctio itaque modi. Omnis modi, quos quibusdam, ut perferendis doloribus!.</p>
		</li>
	</ul>
</section>
<section class="take_the_test">
	<a (click)="run()" >Take the test</a>



</section>

<footer>
	<p>Copyright - 2017 - screenet</p>
</footer>


